#content-wrapper							{margin:auto;
											 overflow:hidden;}
											 
a											{font:'Droid Sans';
											 color:#666;}
											 
a:visited									{font:'Droid Sans';
											 color:#666;}

