#content-wrapper							{margin:auto;
											 overflow:hidden;}
											 
p											{font:'Droid Sans';
											 font-family:'Droid Sans';}
											 
h2, h3										{font:'Play';
											 font-family:'Play';}
											 
h1, h4, h5, h6								{font:'Merriweather Sans';
											 font-family:'Merriweather Sans';}
											 
a											{font:'Droid Sans';
											 font-family:'Droid Sans';
											 color:#333;}
											 
a:visited									{font:'Droid Sans';
											 font-family:'Droid Sans';
											 color:#333;}
											 
.boxlink-a									{border:solid 1px #CCC;
											 background-color:#EBEBEB;
											 border-radius:10px;
											 padding:5px;
											 text-align:center;}
											 
.boxlink-b									{border:solid 1px #CCC;
											 background-color:#A6CFFF;
											 border-radius:10px;
											 padding:5px;
											 text-align:center;}
											 
.boxlink-a:hover							{background-color:#999;}

.boxlink-b:hover							{background-color:#5F85FF;}
											 
.nouline									{text-decoration:none;}

.section									{margin-bottom:5px;
											 overflow:hidden;}

.sector-head								{border-right:solid 3px #CCC;
											 border-top-left-radius:10px;
											 border-bottom-left-radius:10px;
											 width:20%;
											 margin:0px;
											 padding:5px;
											 display:inline-block;
											 background-color:#333;
											 color:#FFF;
											 height:50px;
											 vertical-align:middle;
											 float:left;
											 clear:none;}
											 
.sector-a									{border-right:solid 3px #CCC;
											 width:25%;
											 margin:0px;
											 padding:5px;
											 display:inline-block;
											 background-color:#EBEBEB;
											 height:50px;
											 float:left;
											 clear:none;
											 text-align:center;
											 vertical-align:middle;}

.sector-b									{border-right:solid 3px #CCC;
											 width:25%;
											 margin:0px;
											 padding:5px;
											 display:inline-block;
											 background-color:#A6CFFF;
											 height:50px;
											 float:left;
											 clear:none;
											 text-align:center;
											 vertical-align:middle;}
											 
.sector-a:hover								{background-color:#999;}

.sector-b:hover								{background-color:#5F85FF;}

.sector-foot								{border-top-right-radius:10px;
											 border-bottom-right-radius:10px;}
